body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    padding-top: 5em;
}

.menu-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    color: #333;
}

.instructions-list {
    list-style-type: none;
    padding: 0;
}

.instructions-list li {
    margin-bottom: 10px;
    font-size: 18px;
}

.juego {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.juego:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#game-container {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #333;
}

#word-display {
    margin: 20px 0;
}

#hangman-drawing {
    margin: 20px 0;
    font-size: 36px;
    color: #333;
}

#letters {
    margin-top: 20px;
}

.letter {
    display: inline-block;
    margin: 5px;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.letter:hover {
    background-color: #999;
}
.menu-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
